.BackgroundContainer{
    background-image: url("../../images/forestgo.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
}


.GameContainer2{
    margin: 25%;
    margin-top: 2%;
    margin-bottom: 0%;
    width: 40%;
    height: 92%;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.904);
    
    border-radius: 10px;
}

.game{
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
}

.game img{
    width: 70px;
    height: 70px;
}

.CashOutButton{
    width: 75%;
    height: 25%;
    border-radius: 5px;
    background-color: rgb(87, 15, 255);
    cursor: pointer;
    color: white;
    border: 0ch;
    transition-duration: 0.3s;
}
.CashOutButton:hover{
    width: 80%;
    font-size: 16px;

}

.ScoreContainer{
    width: 10%;
    height: 30%;
    margin-top: 15%;
    position: absolute;
    left: 13%;
    background-color: rgba(4, 70, 70, 0.856);
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
