.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.ContainerGame{
  display: flex;
  width: 100%;
  justify-content: center;
}
.Gamebox{
  position: relative;
  background-image: url("../src/components/Game/Flappybird/images/map2.jpg");
  background-size: cover;
  height: 500px;
  width: 500px;
  overflow: hidden;
}